.fa-bars {
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    font-size: 25px;
}

.fab {
    color: whitesmoke;
    cursor: pointer; 
    font-size: 25px;
    margin-right: 5px
}

.fas {
    color: whitesmoke;
    cursor: pointer; 
    font-size: 25px;
    margin-right: 5px
}

#panel-page {
    min-height: 80vh;
}

#panel-menu ul {
    list-style-type: none;
    min-height: 80vh;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
}

#panel-menu ul li a {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px
}

#panel-menu ul li {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px
}

.card {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
    min-height: 80vh;
}

label, h1 {
    color: whitesmoke
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px
}

@media screen and (min-width: 768px) {
    #panel-menu ul li {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px
    }

    #panel-menu ul {
        list-style-type: none;
        min-height: 80vh;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 15px;
    }
}