.fa-bars {
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    font-size: 25px;
}

.fab {
    color: whitesmoke;
    cursor: pointer; 
    font-size: 25px;
    margin-right: 5px
}

.fas {
    color: whitesmoke;
    cursor: pointer; 
    font-size: 25px;
    margin-right: 5px
}

#contact-page {
    min-height: 80vh;
    padding-bottom: 20px
}

.card {
    margin: auto;
    margin-top: 20px;
    max-width: 600px
}

h1 {
    color: whitesmoke
}

label {
    color: whitesmoke
}