.fa-bars {
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    font-size: 25px;
}

.fab {
    color: whitesmoke;
    cursor: pointer; 
    font-size: 25px;
    margin-right: 5px
}

.fas {
    color: whitesmoke;
    cursor: pointer; 
    font-size: 25px;
    margin-right: 5px
}

.item-name {
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
}

.item-price {
    font-size: 25px;
    font-weight: bolder;
    text-align: right;
}

.card {
    width: 18rem;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-body table {
    width: 100%
}

.card img {
    z-index: 1!important;
}

.filter {
    max-width: 200px;
    width: 100%;
}

h6 {
    color: whitesmoke
}